* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
  /* border: 2px solid blue; */
  font-size: large; /* Alterando tamanho da letra fonte */
  color: black; /* Alterando cor das letras */
  line-height: 100%; /* Alterando espaçamento entre as letras*/
  font-family: "Segoe UI", sans-serif; /* Alterando fonte */
  height: 900px;
}

#cabecalho {
  position: fixed;
  top: 0;
  padding: 1% 42%;
  text-align: center;
  background-color: green;
  display: inline-block;
  color: white;
}

#cabecalho nav {
    margin: 5% 1% 1% 1%;
}

main {
    position: relative;
    /* border: 2px solid red; */
    /* height: 700px; */
    height: 80%;
    top: 12.5%;
}

#minha_foto {
    width: 60%;
    padding: 3% 20%;
}

.lado-esquerdo {
    position: absolute;
    display: inline-block;
    top: 10%;
    width: 25%;
    height: 88%;
    left: 10%;
    background-color: beige;
    border: 2px solid black;
}

.lado-esquerdo table {
    padding: 3% 20%;
    /* border-spacing: 15px; */
}

.lado-esquerdo a {
    padding: 3% 5%;
}

.lado-esquerdo ul, .lado-esquerdo ol {
    list-style: none;
}

.lado-direito {
    position: absolute;
    display: inline-block;
    margin-left: 50%;
    width: 40%;
    top: 20%;
    background-color: beige;
    border: 2px solid black;
    padding: 4% 1% 4% 1%;
}

#passagemAprendizado {
    position: absolute;
    display: inline-block;
    top: 55%;
    margin-left: 50%;
    /* left: 10%; */
    background-color: beige;
    border: 2px solid black;
    width: 40%;
    padding: 4% 1% 4% 1%;
}

#rodape {
    position: relative;
    /* display: inline-block; */
    top: 18%;
    /* height: 50px; */
    background-color: dimgrey;
    
    /* padding: 1% 42%; */
}

#rodape p {
    display: inline-block;
    padding: 1% 80% 1.3% 1%;
}